# ignore all folders that are caches from the .Rmd
*_cache/
*_cache_*/
*_files/
*_files_*/
*code_old/

*_cache/html/*
*_cache_*/html/*
*_files/*
*_files_*/*


# ignore big files
# *.html

Code/.Rhistory
Code/.DS_Store

.DS_Store
